<header class="header">
  <div class="logo">
    <img style="height: 35px; width:110px;" src="assets/icons/linkedin-logo.svg" alt="LinkedIn-Logo">
  </div>
  <div class="menues">
    <ul>
      <li><img src="assets/icons/discover.svg" alt="discover">
        <div class="link-name">Dicover</div>
      </li>
      <li><img src="assets/icons/peoples.svg" alt="people">
        <div class="link-name">People</div>
      </li>
      <li><img src="assets/icons/learning.svg" alt="learning">
        <div class="link-name">Learning</div>
      </li>
      <li><img src="assets/icons/jobs.svg" alt="jobs">
        <div class="link-name">Jobs</div>
      </li>
    </ul>
    <div class="vl"></div>
    <div class="profile">
      <button mat-button class="join-btn">Join Now</button>
      <button class="profile-btn"><span>Sign in as </span> <img style="height:35px; border-radius: 50px;"
          src="https://media.licdn.com/dms/image/C4E03AQHaSUzSpK1nUw/profile-displayphoto-shrink_400_400/0/1650291862085?e=1685577600&v=beta&t=E3t_NWzC38gyTqjAvQNfeEgz5QiohaWB_El6-t8Mz_I">
      </button>
    </div>
  </div>
</header>
